<table class="table table-condensed">
<thead>
<tr>
<th>Topic</th>
<th>Date</th>
</tr>
</thead>
<tbody>
<tr>
<td>Introducing the Shell and Navigating Files and Directories</td>
<td>October 8</td>
</tr>
<tr>
<td>Working With Files and Directories and Pipes and Filters</td>
<td>October 15</td>
</tr>
<tr>
<td>Creating a Repository, Tracking Changes, Exploring History, and Ignoring Things</td>
<td>October 22</td>
</tr>
<tr>
<td>Remotes in GitHub, Collaborating, and Conflicts</td>
<td>October 29</td>
</tr>

</tbody>
</table>
